
<div class="buttons-wrapper">
  <div class="buttons">
    <a href="/new" class="btn space-button">New Note</a>
    <% if (locals.canSave) { %>
    <button class="btn space-button" type="submit">Save & Share</button>
    <% } %>
  </div>
</div>
